<div class={`${Astro.props.class} icon`}>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="100"
        height="100"
        viewBox="0,0,256,256"
    >
        <g
            fill="#ffffff"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
            ><g transform="scale(5.12,5.12)"
                ><path
                    d="M25,2c-4.05812,0 -6.80139,0.96585 -8.55078,2.37109c-1.74939,1.40524 -2.44922,3.22296 -2.44922,4.72852v4.90039h10v1h-14.90039c-1.82957,0 -3.68223,0.80511 -4.99805,2.48242c-1.31582,1.67731 -2.10156,4.16133 -2.10156,7.51758c0,3.35625 0.78574,5.84027 2.10156,7.51758c1.31582,1.67731 3.16848,2.48242 4.99805,2.48242h4.90039v5.90039c0,1.50556 0.69983,3.32327 2.44922,4.72852c1.74939,1.40525 4.49266,2.37109 8.55078,2.37109c4.05812,0 6.80139,-0.96585 8.55078,-2.37109c1.74939,-1.40524 2.44922,-3.22296 2.44922,-4.72852v-4.90039h-10v-1h14.90039c1.82957,0 3.68223,-0.80511 4.99805,-2.48242c1.31582,-1.67731 2.10156,-4.16133 2.10156,-7.51758c0,-3.35625 -0.78574,-5.84027 -2.10156,-7.51758c-1.31582,-1.67731 -3.16848,-2.48242 -4.99805,-2.48242h-4.90039v-5.90039c0,-1.54333 -0.70009,-3.37572 -2.45312,-4.76953c-1.75304,-1.39381 -4.49303,-2.33008 -8.54687,-2.33008zM25,4c3.74615,0 6.00577,0.86334 7.30273,1.89453c1.29696,1.03119 1.69727,2.24841 1.69727,3.20508v5.90039v6c0,1.44773 -1.03054,2.6593 -2.39648,2.93945c-0.19514,0.04002 -0.3967,0.06055 -0.60352,0.06055h-12c-2.74545,0 -5,2.25455 -5,5v4h-4.90039c-1.27043,0 -2.4666,-0.49411 -3.42578,-1.7168c-0.95918,-1.22269 -1.67383,-3.23945 -1.67383,-6.2832c0,-3.04375 0.71465,-5.06051 1.67383,-6.2832c0.95918,-1.22269 2.15535,-1.7168 3.42578,-1.7168h16.90039v-5h-10v-2.90039c0,-0.89444 0.40056,-2.12517 1.70117,-3.16992c1.30061,-1.04476 3.55695,-1.92969 7.29883,-1.92969zM20,7c-1.1,0 -2,0.9 -2,2c0,1.1 0.9,2 2,2c1.1,0 2,-0.9 2,-2c0,-1.1 -0.9,-2 -2,-2zM36,17h4.90039c1.27043,0 2.4666,0.49411 3.42578,1.7168c0.95918,1.22269 1.67383,3.23945 1.67383,6.2832c0,3.04375 -0.71465,5.06051 -1.67383,6.2832c-0.95918,1.22269 -2.15535,1.7168 -3.42578,1.7168h-16.90039v5h10v2.90039c0,0.89444 -0.40056,2.12517 -1.70117,3.16992c-1.30061,1.04476 -3.55695,1.92969 -7.29883,1.92969c-3.74188,0 -5.99821,-0.88493 -7.29883,-1.92969c-1.30061,-1.04476 -1.70117,-2.27548 -1.70117,-3.16992v-11.90039c0,-0.20682 0.02053,-0.40838 0.06055,-0.60352c0.28015,-1.36594 1.49173,-2.39648 2.93945,-2.39648h12c0.17159,0 0.34049,-0.00821 0.50781,-0.02539c2.50988,-0.25774 4.49219,-2.40075 4.49219,-4.97461zM30,39c-1.1,0 -2,0.9 -2,2c0,1.1 0.9,2 2,2c1.1,0 2,-0.9 2,-2c0,-1.1 -0.9,-2 -2,-2z"
                ></path></g
            ></g
        >
    </svg>
</div>
