@import "tailwindcss";

:root {
    color-scheme: light dark;
    --nav-height: 80px;
    --font-size-nav: 1rem;
    --font-size-logo-nav: 1.2rem;
    
    /* Variables para el componente Orbit */
    --portfolio-width: 1000px;
    --font-size-name-title: 4rem;
    --font-size-name-subtitle: 2rem;
    --primary-color: #6366f1;
    --secondary-color: #8b5cf6;
    --secondary-border-color: rgba(139, 92, 246, 0.3);
    --color-lilac-one: #b5a7df;
    --color-violet-one: #8b5cf6;
    --color-violet-two: #c2a9ec;
    --icon-color: #ffffff;
    --name-color :#FFA532;
 

}

html {
    font-family: 'Anybody Variable', system-ui;
    scroll-behavior: smooth;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    z-index: 1000;
    background: var(--nav-bg-color);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    transition: background-color 0.3s ease-in-out;
}

.menu_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: var(--nav-height);
    z-index: 5;
}

.menu-container {
    position: relative;
    height: var(--nav-height);
    width: 100%;
}

.nav_menu {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    font-size: var(--font-size-nav);
    text-wrap: nowrap;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

