---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/components/aboutMe/AboutMe.astro"
import Projects from "@/components/Projects/Projects.astro"
import Contact from "@/components/Contact.astro"
import Header from "@/components/header/Header.astro"
import Section from "@/components/Section.astro"
import Home from "@/components/home/Home.astro"
import Footer from "@/components/Footer.astro"


---
<Layout
  title="Portfolio de Iván Patiño - Desarrollador y Programador Web Full Stack"
  description="Soy un desarrollador web full stack con experiencia en la creación de aplicaciones web modernas y escalables. Me apasiona aprender nuevas tecnologías y mejorar mis habilidades constantemente."
>
<Header />
<main class="flex flex-col gap-10">
	<Home />
	<Section>
		<AboutMe />
		
	</Section>

	<Section>
		<Projects />
	</Section>

	<Section>
		<Contact />
	</Section>
	<Footer />
</main>
</Layout>



