---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/components/AboutMe.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TittleSection.astro"

---
<Layout
  title="Portfolio de Iván Patiño - Desarrollador y Programador Web Full Stack"
  description="Soy un desarrollador web full stack con experiencia en la creación de aplicaciones web modernas y escalables. Me apasiona aprender nuevas tecnologías y mejorar mis habilidades constantemente."
>
  <main class="px-4">
  <sectionContainer class="py-16 md:pb-36">
	<Hero />
  </slot>
  </sectionContainer>
 <div class="space-y-16 md:space-y-36">
	<SectionContainer class="py-16 md:pb-36">
	  <TitleSection>Sobre mí</TitleSection>
	  <AboutMe />
	</SectionContainer>

	<SectionContainer class="py-16 md:pb-36">
	  <TitleSection>Experiencia</TitleSection>
	  <Experience />
	</SectionContainer>

	<SectionContainer class="py-16 md:pb-36">
	  <TitleSection>Proyectos</TitleSection>
	  <Projects />
	</SectionContainer>
</div>
  </main>
</Layout>
