---
import Avatar from "./Avatar.astro";
import Langsinfo from "./Langsinfo.astro";
---

<div id="AboutMe"></div>

<article class="flex flex-col gap-10 font-bold leading-light " >
<div title="AboutMe">

    <div class="text-center py-10">
        <h1 class="text-4xl font-bold">About Me</h1>
    </div>
    <div class="flex gap-x-5">
        <div class="content-avatar flex items-center w-auto pt-6">
            <!--  Avatar  -->
            <Avatar />
        </div>
        <div class="flex flex-col gap-5 w-full justify-center flex-1">
            <div class="flex about-content gap-5">
               <div class="text-wrap flex flex-col gap-y-2 max-w-3x1">
             
                    <div class= "lang flex flex-col gap-2 basis-3/4" >
                        <p class="leading-relaxed">
                            Hi! I’m a web developer passionate about creating clean, functional, and visually appealing digital experiences. 
                            I love combining design and code to build modern, dynamic, and well-structured applications.
                        </p>
                       
            
                        <p class="leading-relaxed">
                            I enjoy working on both the frontend and backend, and I’m always looking to improve my skills, learn new technologies, and take on new challenges. 
                            Currently, I develop projects that integrate responsive design, reusable components, and interactive dashboards.
                        </p>
                    
                        
                        <p class="leading-relaxed">
                            Beyond coding, I value attention to detail, organization, and quality work. 
                            I believe technology should not only work well, but also look good and feel intuitive.
                        <br>
                    </div>

                </div>
                <!--  Avatar Mobile -->
                <div class="content-avatar-mobile justify-center">
                    <Avatar />
                </div>
            </div>
        </div>
    
    </div>

    <div class="p-[0.5rem] mt-5">
        <Langsinfo />
    </div>


</article>



<style>
    .content-avatar-mobile {
        display: none;
    }
    @media (width <= 1250px) {
        .content-avatar {
            display: none;
        }
        .content-avatar-mobile {
            display: flex;
        }
        .about-content {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }

 .lang {
    display: flex;

    margin-top: 10%;
    margin-right: 20%;
}

.content-avatar {
    margin-left: 10%;
    margin-top: 70px;
    margin-right: 10%;
}
</style>