<div id="AboutMe"></div>

<article class="flex flex-col gap-10 " >
<div title="AboutMe">

</div>
<div class="flex justify-center items-center w-90 h-90 ">
    <img src="/src/components/aboutMe/Images/Avatar.png" alt="aboutMe" />
</div>
</article>