---
import ReactLogo from "@/components/home/orbit/icons/ReactLogo.astro";
import JavaLogo from "@/components/home/orbit/icons/JavaIcon.astro";
import PythonLogo from "@/components/home/orbit/icons/Python.astro";
import TypescriptLogo from "@/components/home/orbit/icons/Typescript.astro";
import Badge from "@/components/Badge.astro";
import AstroIcon from "@/components/aboutMe/Icons/AstroIcon.astro";
import TypescriptIcon from "@/components/aboutMe/Icons/TypescriptIcon.astro";
---

<article class="flex flex-col gap-8 relative" {...Astro.props}>

    <h2 class="font-bold text-[--primary-color]">
        <span class="text-white">Lenguajes and frameworks</span> 
        <slot />
    </h2>

    <div
        class="langs flex flex-row gap-y-5 gap-x-5 flex-wrap justify-center items-center"
    >
        <a href="https://es.react.dev/" class="lang" rel="nofollow">
            <ReactLogo class="text-red-800 dark:text-red-300" />
            <Badge>React</Badge>
        </a>
    

        <a href="https://www.java.com/es/" class="lang" rel="nofollow">
            <JavaLogo class="text-red-800 dark:text-red-300" />
            <Badge>Java</Badge>
        </a>
        
        <a href="https://www.python.org/" class="lang" rel="nofollow">
            <PythonLogo class="text-red-800 dark:text-red-300" />
            <Badge>Python</Badge>
        </a>

        <a
        class="lang"
        rel="nofollow"
        href="https://www.typescriptlang.org/"
        target="_blank"
      >
        <TypescriptIcon class="text-blue-800 dark:text-blue-300" />
        <Badge class="bg-blue-300 text-white">Typescript</Badge>
      </a>

        <a class="lang" rel="nofollow" href="https://astro.build/" target="_blank">
            <AstroIcon class="text-pink-800 dark:text-pink-300" />
            <Badge class="bg-pink-300 text-white">Astro</Badge>
          </a>
</article>

<style>
    h2 {
        font-size: var(--font-size-subtitle-section);

        margin-top: 2.0rem;
        text-align:left;
      
    }

    .lang {
    display: flex;
    flex-direction: column;
    min-width: 90px;
    width: 10%;
    gap: 0.5rem;
    color: var(--secondary-color);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: auto;
  }

  .lang:hover {
    scale: 0.8;
  }

  .lang svg {
    align-self: center;
    width: 30%;
  }
</style>
