---
import ReactLogo from "@/components/home/orbit/icons/ReactLogo.astro";
import JavaLogo from "@/components/home/orbit/icons/JavaIcon.astro";
import AstroLogo from "@/components/home/orbit/icons/AstroIcon.astro";
import PythonLogo from "@/components/home/orbit/icons/Python.astro";
import TypescriptLogo from "@/components/home/orbit/icons/Typescript.astro";
import Badge from "@/components/Badge.astro";
---

<article class="flex flex-col gap-8 relative" {...Astro.props}>

    <h2 class="font-bold text-[--primary-color]">
        <span class="text-white">Lenguajes and frameworks</span> 
        <slot />
    </h2>

    <div
        class="langs flex flex-row gap-y-5 gap-x-5 flex-wrap justify-center items-center"
    >
        <a href="https://es.react.dev/" class="lang" rel="nofollow">
            <ReactLogo class="text-red-800 dark:text-red-300" />
            <Badge>React</Badge>
        </a>
    

        <a href="https://www.java.com/es/" class="lang" rel="nofollow">
            <JavaLogo class="text-red-800 dark:text-red-300" />
            <Badge>Java</Badge>
        </a>
        
        <a href="https://www.python.org/" class="lang" rel="nofollow">
            <PythonLogo class="text-red-800 dark:text-red-300" />
            <Badge>Python</Badge>
        </a>

        <a href="https://www.typescriptlang.org/" class="lang" rel="nofollow">
            <TypescriptLogo class="text-red-800 dark:text-red-300" />
            <Badge>Typescript</Badge>
        </a>

        <a href="https://www.astro.build/" class="lang" rel="nofollow">
            <AstroLogo class="text-red-800 dark:text-red-300" />
            <Badge>Astro</Badge>
        </a>
    </div>
</article>

<style>
    h2 {
        font-size: var(--font-size-subtitle-section);
        min-width: 100%;
        gap: 2.0rem;
        text-align:left;
        margin-bottom: 2.0rem;
    }

    .lang {
    display: flex;
    flex-direction: column;
    min-width: 90px;
    width: 10%;
    gap: 0.5rem;
    color: var(--secondary-color);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: auto;
  }

  .lang:hover {
    scale: 0.8;
  }

  .lang svg {
    align-self: center;
    width: 30%;
  }
</style>
